.index_box_box {
    width: 100%;
}

.index_navigation {
    height: 80px;
    width: 100%;
    /* background: #242b3e; */
    display: flex;
}

.sl-title {
    display: flex;
    flex-direction: row;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    line-height: 70px;
    padding-left: 10px;
    padding-top: 13px;
}

.sl-logo {
    margin-right: 5px;
}

.index_navigation_ul {
    /*flex: 1;*/
    width: 767px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index_navigation_ul li a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
}

.index_navigation_ul .head_add_colored a {
    color: #90d5ff;
}


/*banner*/

.index_banner {
    display: flex;
    flex-direction: row;
    height: 725px;
    width: 100%;
    background: url(../images/banner1.jpg) center center;
    background-size: auto 725px;
}

.sl-qrcode-block {
    position: absolute;
    top: 3em;
    left: 1em;
    height: 100%;
    align-items: center;
    padding-top: 12em;
    padding-left: 5em;
    color: #fff
}

.sl-qr-tit {
    margin: 0 1em
}

.sl-qrcode {
    display: flex;
    flex-direction: row
}

.sl-qrcode div {
    margin: 1em
}

.index_banner_content {
    width: 1204px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_content_title {
    height: 215px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 3px;
}

.title_word {
    color: #6bcbff;
}

.banner_company_target {
    width: 486px;
    height: 125px;
    border-bottom: 2px solid #f2f1f1;
    font-size: 22px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.banner_company_target_content {
    height: 6px;
    width: 6px;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px 0px 5px;
}

.banner_company_messages {
    width: 540px;
    height: 110px;
    padding: 26px 0px 26px 0px;
    box-sizing: border-box;
    font-size: 21px;
    color: #ffffff;
    text-indent: 2em;
    line-height: 30px;
    letter-spacing: 2px
}


/* 视频介绍部分*/

.index_body {
    width: 1405px;
    margin: 0 auto;
    font-size: 16px;
}

.index_body_first {
    margin-top: 2em;
    padding: 5px 0;
    border-bottom: 1px solid #000
}

.sl-product-video-tit {
    padding: 5px 0;
    border-bottom: 1px solid #ccc
}

.sl-product-video {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    border-left: 3px solid orange;
}

.sl-product-video div {
    margin-right: 1em;
}

.sl-product-text p {
    margin: 2px 0
}

.sl-product-video-four {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.video-column {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em
}

.video-item {
    width: 42em;
    height: 20em;
    background: orange
}

video {
    width: 42em;
    height: 20em;
}


/* 截图介绍部分*/

.index_body_company_profile {
    height: 850px;
}

.screen-capture {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 760px;
    overflow: hidden;
    padding: 1em 0;
}

.screen-capture .screen-capture-item {
    width: 16%;
    margin: 2em;
}

.screen-capture div p {
    height: 40px;
    line-height: 20px;
    padding: 0.3em 0
}

.screen-capture div img {
    width: 100%;
    /* max-height: 400px; */
}


/* 文字介绍部分 */

.sl-pdl-info {
    width: 100%;
    height: 10em;
    background: rgba(170, 166, 166, 0.25);
    padding: 2em 0
}

.sl-pdl-info h3 {
    text-align: center
}

.sl-pdl-info p {
    margin: 1em;
    padding: 1em 30em;
    line-height: 2em;
    text-indent: 2em;
}

.sl-info {
    height: 10em;
    padding: 2em 0;
}

.sl-info ul {
    display: flex;
    flex-direction: row;
    line-height: 2em;
}

.sl-info ul li {
    padding: 0 5em;
}

.sl-info ul h4 {
    text-align: center;
}


/* 底部 */

.index_footer {
    height: 15em;
    width: 100%;
    background: orange;
}

.sl-about {
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto
}

.index_footer ul {
    padding: 0 5em;
    line-height: 2em;
}

.index_footer ul li {
    /* padding: 0 5em; */
    /* text-indent: 2em; */
}


/* .dialog-large-image {
    position: absolute;
    top: 1em;
    left: 15em;
    background: #90d5ff54
}

.modal-dialog-content {
    width: 300px;
    padding: 20px;
} */


/*  */


/* .btn {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    color: #F97B39;
    position: absolute;
    top: 130px;
    left: 160px;
    opacity: 0.2;
    cursor: pointer;
} */

.btn:hover,
.btn:focus {
    /*focus 取得焦点状态*/
    background-color: #8AA7F9;
    opacity: 0.5;
    color: #FFFFFF;
}

.modal-box {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalBox-matter {
    display: flex;
    /*/*弹性布局*/
    flex-flow: column nowrap;
    justify-content: space-between;
    /*两端对齐*/
    width: 30%;
    height: 90%;
    margin: 30px auto 100px;
    border-radius: 10px;
    -webkit-animation: zoom 0.6s;
    animation: zoom 0.6s;
    resize: both;
    overflow: auto;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.modalBox-header {
    margin-left: 30em;
}

.mtclose,
.mtcloseRel,
.mtcloseTime,
.mtcloseImg,
.mtcloseSearch,
.mtcloseStracture {
    position: fixed;
    color: #edd9d7;
    font-size: 3em;
    font-weight: bold;
    transition: all 0.3s;
    /*z-index: 1010; */
}

.mtclose:hover,
.mtclose:focus {
    color: #edd9d7;
    cursor: pointer;
}

.modalBox-body {
    padding: 10px;
    font-size: 16px;
}