.index_box_box {
    width: 100%;
}

.index_navigation {
    height: 80px;
    width: 100%;
    /* background: #242b3e; */
    display: flex;
}

.index_navigation a {
    color: #000;
    text-decoration: none;
}

.sl-title {
    display: flex;
    flex-direction: row;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    line-height: 70px;
    padding-left: 10px;
    padding-top: 13px;
}

.sl-logo {
    margin-right: 5px;
}

.index_navigation_ul {
    /*flex: 1;*/
    width: 767px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index_navigation_ul li a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
}

.index_navigation_ul .head_add_colored a {
    color: #90d5ff;
}


/*banner*/

.index_banner {
    position: relative;
    height: 30em;
    width: 100%;
    background: url(../images/bigdatahalf.png) center center;
    background-size: cover;
}

.index_banner:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
}

.index_banner_content {
    width: 1204px;
    height: 100%;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_content_title {
    height: 130px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #f1efef;
    letter-spacing: 3px;
    z-index: 100;
}

.banner_company_messages {
    /* width: 540px; */
    height: 110px;
    padding: 26px 0px 26px 0px;
    box-sizing: border-box;
    font-size: 21px;
    color: #f1efef;
    text-indent: 2em;
    line-height: 30px;
    letter-spacing: 2px;
    z-index: 100;
}

.index_body {
    width: 1405px;
    margin: 0 auto;
    font-size: 16px;
}

.index_body_informate {
    /* width: 100%; */
    height: 426px;
    display: flex;
    flex-direction: column;
    margin: 1em auto
}

.index_body_informate_resetHeight {
    height: 718px;
}

.index_body_informate_title {
    height: 60px;
    width: 100%;
    border-left: 5px solid #6bcbff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.index_body_title_china {
    font-size: 28px;
    color: #333333;
    padding-left: 25px;
    box-sizing: border-box;
    letter-spacing: 3px;
}

.index_body_title_english {
    font-size: 15px;
    color: #333333;
    font-weight: bold;
    padding-left: 25px;
    box-sizing: border-box;
    padding-bottom: 2px;
}

.index_body_informate_body {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_body_informate_body li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index_body_informate_word {
    margin-top: 28px;
    font-size: 18px;
    color: #333333;
    letter-spacing: 2px;
}

.index_body_informate_title_bottom {
    flex: 1;
    width: 100%;
    display: flex;
    /*align-items: center;*/
}

.index_body_informate_left,
.index_body_informate_right {
    flex: 1;
    height: 465px;
    margin-top: 90px;
}

.index_body_informate_left_content {
    width: 560px;
    margin: 0 auto;
}

.index_body_informate_left_content .index_body_introduction {
    font-size: 16px;
    line-height: 30px;
    text-indent: 2em;
    color: #4d4d4d;
    letter-spacing: 1px;
}

.sl-info {
    height: 10em;
    padding: 2em 0;
}

.sl-info ul {
    display: flex;
    flex-direction: row;
    line-height: 2em;
}

.sl-info ul li {
    padding: 0 5em;
    margin: 0 auto
}

.sl-info ul li p {
    text-align: justify
}

.sl-info ul h4 {
    text-align: center;
}


/* 底部 */

.index_footer {
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center
}

.index_footer ul {
    width: 1405px;
    padding: 0 5em;
    line-height: 2em;
    margin: 0 auto;
}

.index_footer ul li p {
    text-align: justify
}

.index_footer ul li {
    display: inline-block
}

.put-on-records {
    color: #eae9e9;
    padding-top: 2em;
    font-size: 12px;
}